h3 {
    position: relative;
    padding: 0.25em 0;
    color:#222222;
  }
  h3:after {
    content: "";
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, rgb(188, 221, 98), turquoise);
    background: linear-gradient(to right, rgb(188, 221, 98), turquoise);
  }
#Value {
    font-size:10.5px;
    color:#aaa;
}

#Trend {
    font-size:10.5px;
    color:#aaa;
}

#disc {
    font-size:10.5px;
    color:#aaa;
}

.rss ul {
    list-style: none;
}

.rss li {
    margin-left:-40px;
    padding-top:2px;
    padding-bottom:2px;
    border-bottom:1px solid #ccc; 
    background-color:#ddd; 
    list-style: none;
    margin-bottom:10px;
}

.rss li:hover { 
    background-color:turquoise;  
}

.rss li a {
    color:#fff;
    text-decoration: none;
    display: block; 
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: #2a2556;
      color: #eee;
    }
  }