/*header*/
h3 {
    position: relative;
    padding: 0.25em 0;
    color:#bbb !important;
}

h3:after {
color:#bbb;
content: "";
display: block;
height: 4px;
background: -webkit-linear-gradient(to right, rgb(22, 200, 200), rgb(32, 69, 233));
background: linear-gradient(to right, rgb(22, 200, 200), rgb(32, 69, 233));
}

/*body*/
body { 
    background: #0e1e2d !important; 
    color: #eeeeee !important; 
}

/*trend*/
.Trend {
    font-size:10.5px;
    color:#aaa;
}

/*news*/
#disc {
    font-size:10.5px;
    color:#aaa;
}

.rss ul {
    list-style: none;
}

.rss li {
    margin-left:-40px;
    padding-top:2px;
    padding-bottom:2px;
    border-bottom:1px solid #0e1e2d; 
    background-color:#0f1e2d; 
    list-style: none;
    margin-bottom:10px;
}

.rss li:hover { 
    background-color: rgb(22, 150, 200);  
}

.rss a:hover { 
    color:#fff;
}

.rss li a {
    color:#aaa;
    text-decoration: none;
    display: block; 
}

label {
    color:#aaa;
}

/*timebar*/
.w-100px {
    width: 80px !important;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(32, 69, 233);
    }

/*dark-mode*/
@media (prefers-color-scheme: dark) {
    body {
      background-color: #2a2556;
      color: #eee;
    }
  }